<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongzhe.system.mapper.client.BaseShareMapper">
  <resultMap id="BaseResultMap" type="com.dongzhe.project.pojo.BaseShareDO">
    <id column="code" jdbcType="CHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_code" jdbcType="VARCHAR" property="shortCode" />
    <result column="start_day" jdbcType="DATE" property="startDay" />
    <result column="code_type" jdbcType="CHAR" property="codeType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code, name, short_code, start_day
  </sql>
  <select id="selectByExample" parameterType="com.dongzhe.project.pojo.BaseShareExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_share
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_share
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dongzhe.project.pojo.BaseShareExample">
    delete from base_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.dongzhe.project.pojo.BaseShareDO">
    insert into base_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="shortCode != null">
        short_code,
      </if>
      <if test="startDay != null">
        start_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortCode != null">
        #{shortCode,jdbcType=VARCHAR},
      </if>
      <if test="startDay != null">
        #{startDay,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dongzhe.project.pojo.BaseShareExample" resultType="java.lang.Long">
    select count(*) from base_share
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.dongzhe.project.pojo.BaseShareDO">
    update base_share
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortCode != null">
        short_code = #{shortCode,jdbcType=VARCHAR},
      </if>
      <if test="startDay != null">
        start_day = #{startDay,jdbcType=DATE},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>

  <!--批量插入 ,insert  IGNORE  into  如果插入的数据会导致UNIQUE索引或PRIMARY KEY发生冲突/重复，则忽略此次操作/不插入数据，-->
  <insert id="addBatch" parameterType="java.util.Map">
    insert ignore into base_share (code, name, short_code)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.shortCode,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <!--存在更新,否则插入-->
  <insert id="insertOrUpdateBatch" parameterType="java.util.List">
    insert into base_share (code, name, short_code)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.code, jdbcType=VARCHAR}, #{item.name, jdbcType=VARCHAR}, #{item.shortCode, jdbcType=VARCHAR})
    </foreach>
    ON DUPLICATE KEY UPDATE
    code = VALUES(code),
    name = VALUES(name),
    short_code = VALUES(short_code)
  </insert>

  <update id="insertOrUpdateOne" parameterType="java.util.HashMap" >
    <selectKey keyProperty="count" resultType="int" order="BEFORE">
      select count(1) from base_share
      where code = #{code,jdbcType=VARCHAR}
    </selectKey>
    <if test="count > 0">
      update base_share
      <set>
        <if test="name != null">
          name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="shortCode != null">
          short_code = #{shortCode,jdbcType=VARCHAR},
        </if>
      </set>
      where mouldUnique = #{mouldunique,jdbcType=VARCHAR} AND newDate > curdate()
    </if>
    <if test="count==0">
      insert into base_share
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="code != null">
          code,
        </if>
        <if test="name != null">
          name,
        </if>
        <if test="shortCode != null">
          short_code,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="code != null">
          #{code,jdbcType=VARCHAR},
        </if>
        <if test="name != null">
          #{name,jdbcType=VARCHAR},
        </if>
        <if test="shortCode != null">
          #{shortCode,jdbcType=VARCHAR},
        </if>
      </trim>
    </if>
  </update>
</mapper>