<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="report-form">
					<div class="select-list">
						<ul>
							<li>
								报表名称：<input type="text" name="rptName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
                
            <div class="btn-group-sm hidden-xs" id="toolbar" role="group">

	        </div>
       		 <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-tree-table" data-mobile-responsive="true"></table>
	        </div>
	    </div>
	</div>
	
	<div th:include="include :: footer"></div>

	<script th:inline="javascript">
		var addFlag = [[${@permission.hasPermi('client:report:add')}]];
		var editFlag = [[${@permission.hasPermi('client:report:edit')}]];
		var removeFlag = [[${@permission.hasPermi('client:report:remove')}]];
		var datas = [[${@dict.getType('sys_show_hide')}]];
		var prefix = ctx + "client/reportView";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add/{id}",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove/{id}",
		        modalName: "报表",
		        columns: [
					{
						checkbox: true
					},
					 {
						title: '报表名称',
						field: 'rptName',
						width: '20%',
						formatter: function(value, row, index) {
							if ($.common.isEmpty(row.icon)) {
								return row.rptName;
							} else {
								return '<i class="' + row.icon + '"></i> <span class="nav-label">' + row.rptName + '</span>';
							}
						}
					},
					// {
					// 	field: 'remark',
					// 	title: '备注',
					// 	width: '10%',
					// 	align: "left"
					// },
					// {
					// 	field: 'dzTblName',
					// 	title: '报表名',
					// 	width: '15%',
					// 	align: "left"
					// },
					{
						title: '创建者id',
						field: 'createBy',
						width: '10%',
						align: "left"
					},
					{
						field: 'createTime',
						title: '创建时间',
						width: '10%',
						align: "left"
					},
					{
						title: '操作',
						width: '20%',
						align: "left",
						formatter: function(value, row, index) {
							var actions = [];
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="viewData(\'' + row.id + '\')"><i class="fa fa-edit"></i>详情</a> ');
							// actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="editDataItem(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
							// actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
							return actions.join('');
						}
					}
				]
		    };
		    $.treeTable.init(options);
		});

		function viewData(id){
			console.log("查看详情viewData----");
			var url = prefix + "/view/" + id;
			console.log("查看详情url：" + url);
			$.modal.openMax("报表详情", url, 1000, 550);
		}
	</script>
</body>
</html>