<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">

<style type="text/css">
	td{
		text-align:center;
		border: 1px solid;
		vertical-align: middle;
	}
	th{
		text-align:center;
		border: 1px solid;
		vertical-align: middle;
	}
	input.checkbox {margin-left: 8px;}
	.mybtn{background-color: #23c6c8; height: 34px; width: 70px; color: #FFFFFF}

	table td input {
	 	display: block;
		border: none;
		width: 100%;
		height: 100%;
		margin:0;
		padding:0;
	}
</style>

<div class="wrapper wrapper-content animated fadeInRight ibox-content" style="padding: 0;">
	<form class="form-horizontal m" id="form-report-edit" th:object="${dzReport}" style="margin-top: 0; width: 100%;">
		<a id="dlink" style="display:none;"></a>
		<div class="modal-header" style="text-align: center">
			<input id="id" name="id" th:field="*{id}" type="hidden">
			<h1 class="modal-title" ><input id="rptName" th:field="*{rptName}" type="text" style="border: none">
				<a class="btn btn-success" onclick="tableToExcel1('report')" >
					<i class="fa fa-plus"></i> 导出excel
				</a>
			</h1>
		</div>

		<!--bootstrap table + ajax-->
		<div style="overflow:scroll;">
			<table id="table" class="table table-responsive table-striped table-bordered table-hover table-condensed " style="margin:0; padding:0;">

				<thead id="mythead">

				</thead>
				<tbody id="mytbody">

				</tbody>

			</table>

		</div>
	</form>
</div>

<div th:include="include::footer"></div>

<script type="text/javascript">
	var prefix = ctx + "client/report";

	var columnsArray = [];

	$(function() {
		initTitle();
	})

	function initTitle(id1){
		var id = $("#id").val();
		var detailList = '{"id":' + id + '}';
		console.log("detailList:" + detailList)
		$.ajax({//这里是活动的列
			url: prefix + "/getRptTitle",
			// url: prefix + "/listByPage",
			contentType: "application/json;charset=UTF-8",
			dataType: "json",
			cache: false,
			data: detailList,
			type: 'POST',
			json: 'callback',
			success: function (json) {
				// console.log("jsonTitle:" + JSON.stringify(json));
				$('#mythead').html('');
				html = '<tr><th style="margin:0; padding:0;">行号</th>';
				for (var i = 0; i < json.datas.length; i++) {//循环所有的项目
					var title = json.datas[i]["colDepict"];//活动列名
					var dzColName = json.datas[i]["dzColName"];
					var dataType = json.datas[i]["dataType"];
					var linkCol = json.datas[i]["linkCol"];
					// console.log("[" + i + "] title dzColName:" + title + "," + dzColName);

					html += '<th style="margin:0; padding:0;">' + title + '</th>';

					columnsArray.push({
						"title": title,
						"field": dzColName,//和后台的map的key中的dzColName 能对应起来了，加载数据的时候取这个属性的值
						"align": "right", //格式
						"dataType": dataType,
						"linkCol": linkCol
						// title: '创建者id',
						// field: 'createBy',
						// width: '10%',
						// align: "left"
					});
				}
				html += '</tr>';
				// console.log("html:" + html);
				$(html).appendTo($("#mythead"));
				var colsCo = document.getElementById("table").rows[0].cells.length-1;
				// console.log("colsCo:" + colsCo);
				initTable(0, colsCo);
			},
			error: function () {
				alert("错误");
			}
		});
	}

	function initTable(id1, colsCo) {
		var id = $("#id").val();
		var detailList = '{"id":' + id + '}';
		// console.log("colsCo2:" + colsCo);
		$.ajax({//这里是活动的列
			url: prefix + "/listByPage",
			contentType: "application/json;charset=UTF-8",
			dataType: "json",
			cache: false,
			data: detailList,
			type: 'POST',
			json: 'callback',
			success: function (json) {
				// console.log("jsonData:" + JSON.stringify(json));
				$('#mytbody').html('');

				var coln = 'a';
				for (var i = 0; i < json.datas.length; i++) {//循环所有的项目
					html = '<tr><td style="margin:0; padding:0;">' + i + '</td>';
					for(var j = 0; j < colsCo; j++){
						var ii = j+1;
						coln = 'a' + ii;
						var colValue = json.datas[i][coln];
						// console.log("colValue:" + colValue + ", linkCol:" + columnsArray[j].linkCol);
						if(isEmpty(colValue)){
							// console.log("columnsArray0[" + j + "]:" + columnsArray[j].dataType);
							switch (columnsArray[j].dataType) {
								case "0":
									if(isEmpty(columnsArray[j].linkCol)) {
										html += '<td name="' + coln + '" style="margin:0; padding:0;"></td>';
									}else{
										html += '<td name="' + coln + '" style="margin:0; padding:0;"></td>';
									}
									break;
								case "1":
									html += '<td name="' + coln + '" style="margin:0; padding:0;"></td>';
									break;
								case "2":
									html += '<td name="' + coln + '" style="margin:0; padding:0;"></td>';
									break;
							}
						}else {
							// console.log("columnsArray1[" + j + "]:" + columnsArray[j].dataType);
							switch (columnsArray[j].dataType) {
								case "0":
									if(isEmpty(columnsArray[j].linkCol)) {
										html += '<td name="' + coln + '" style="margin:0; padding:0;">' + colValue + '</td>';
									}else{
										html += '<td name="' + coln + '" style="margin:0; padding:0;">' + colValue + '</td>';
									}
									break;
								case "1":
									html += '<td name="' + coln + '" style="margin:0; padding:0;">' + colValue + '</td>';
									break;
								case "2":
									html += '<td name="' + coln + '" style="margin:0; padding:0;">' + colValue.split(" ")[0] + '</td>';
									break;
							}
						}
					}

					html += '</tr>';
					console.log("html:" + html);
					$(html).appendTo($("#mytbody"));
				}
			},
			error: function () {
				alert("错误");
			}
		});
	}

	//判断字符是否为空的方法
	function isEmpty(data){
		if(data==undefined || data===""){return true}
		if (JSON.stringify(data) === '{}') {
			return true // 如果为空,返回true
		}else {
			return false // 如果不为空，则会执行到这一步，返回false
		}
	}

    /**
     * 选择辅助信息
     * @param id
     * @param cusvalue
     * @param tblCol
     */
	function selectAdds(id, cusvalue, tblCol) {
		var id1 = $("#id").val();
		console.log("selectAdds.rptId:" + id1 + ", detailId:" + id + ", cusValue:" + cusvalue + ", tblCol:" + tblCol);
		var detailList = '{"id1":' + id1 + '}';
		var url = prefix+"/selectAdds?id=" + id1 + "&detailId=" + id + "&cusValue=" + cusvalue + "&tblCol=" + tblCol;
		console.log("url:" + url);
		$.modal.open("选择成员", url, 1000, 600);
	}

	function fillData(detailId, columnsArray, jsonDatas) {
        // console.log("columnsArray:" + JSON.stringify(columnsArray));
        // console.log("jsonDatas:" + JSON.stringify(jsonDatas));
		var rptDatas=document.getElementsByName("rptData");
		// console.log("rptDatas.size:" + rptDatas.length);

		// for(var item in jsonDatas) {
		// 	console.log("key:" + item);
		// 	console.log("value:" + jsonDatas[item]);
		// }
			for(var i=0; i<columnsArray.length; i++){
				document.getElementById("rd-" + detailId + "-" + columnsArray[i]["field"]).value = jsonDatas[columnsArray[i]["colName"]];
			}
			// if(item==key){    //item 表示Json串中的属性，如'name'
			// 	var jValue=jsonObj[item];//key所对应的value
			// 	alert(jValue);
			// }
    }

    $("#form-report-edit").validate({
        rules:{
            sNum:{
                required:true
            },
            level:{
                required:true,
                digits:true
            }
        },
        messages:{
            sNum:{
                required:"请输入编号"
            },
            level:{
                required:"请输入"
            }
        }
    });

    function submitHandler() {
        // if ($.validate.form()) {
            getDatas();
        // }
    }

    function getDatas() {
		var id = $("#id").val();
		//<input id="rd-' + json.datas[i]["id"] + '-' + coln + '" name="rptData" value="' + colValue + '" >
        var rptDatas = document.getElementsByName("rptData");
        var rowCount = $("#mytbody").find("tr").length;
        var colCount = document.getElementById("mytbody").rows[0].cells.length;
        console.log("rowCount:" + rowCount + ",colCount:" + colCount);
        var strs= new Array(); //定义一数组
		var detailList = '{"rptId":' + id;
        for(var i=0; i<rptDatas.length;i++){
        	var detailId = rptDatas[i].id;
			strs= detailId.split("-"); //字符分割  strs[1]:rd strs[2]:detailId strs[3] colName
			var ss = strs[0] + "-" + strs[1] + "-" + strs[2];
			console.log("id:" + ss);
			detailList += ',"' + strs[2] + '-' + strs[1] + '":"' + rptDatas[i].value + '"';
        }
		detailList += ',"dataCount":' + rowCount + '}';
        //var sampleType = $("#sampleType").find("option:selected").text();
        // alert(detailList);
        // $.operate.save(prefix + "/rptSave", {"value1": ss});
        $.ajax({
            url: prefix + "/rptSave",
            data: detailList,
            cache: false,
            contentType: "application/json;charset=UTF-8",
            dataType:"json",
            type: 'POST',
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍候...");
                $.modal.disable();
            },
            success: function (result) {
                console.log(result);
                // $.modal.closeAll();
                if (result.code == web_status.SUCCESS) {
                    $.modal.closeAll();
                    $.modal.closeLoading();
                    $.modal.alertSuccess(result.msg);
                    $.modal.enable();
                } else {
                    $.modal.closeAll();
                    $.modal.closeLoading();
                    $.modal.alertError(result.msg);
                    $.modal.enable();
                }
            }
        });
    }

	var tableToExcel = (function() {
		var uri = 'data:application/vnd.ms-excel;base64,',
				template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
				base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
				format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) };
		return function(table, name, filename) {
			if (!table.nodeType) table = document.getElementById(table);
			console.log(table.innerHTML)
			var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }//此时的innerHTML数据可以自己自定义 比如json转化 只要值要数据符合即可

			document.getElementById("dlink").href = uri + base64(format(template, ctx));
			document.getElementById("dlink").download = filename;
			document.getElementById("dlink").click();
		}
	});

	var id = "table",
			worksheetName = 'sheet',
			workName = "demo.xls";

	function tableToExcel1(tableID) {
		workName = $("#rptName").val()  + ".xls";
		var download = tableToExcel();
		download(id, worksheetName, workName)
	};
</script>
</body>
</html>
